/* style.css
 * Made by Thomas Simon
 * Spring 2020
 */

body {
   position: relative;
   overflow-x: hidden;
 }

/* Add a black background color to the top navigation */
.header {
  position: fixed;
  background-color: #fff;
  overflow: hidden;
  top: 0;
  z-index: 10;
  width: 100%;
  border-style: solid;
  border-bottom-width: 15px;
  border-color: #2a2a6f;
}

/* Style the links inside the navigation bar */
.header a {
  float: left;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.header a:hover {
  background-color: #2d2d2d;
  color: #fff;

}

.fp-image h1 {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  text-shadow: 1px 1px 2px #fff, 0 0 25px #fff, 0 0 5px #fff;
}

h1{
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px #fff;
  font-size: 20px;
  color: #2a2a6f;
}

.fp-image {
  position: relative;
  padding-top: 60px;
  border-style: solid;
  border-bottom-width: 15px;
  width: 100%;
  border-color: #2a2a6f;
}

.box {
  border-radius: 100px;
  text-align: center;
  border: 5px solid #2a2a6f;
  width: 150px;
  padding: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.testimonials {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  margin: 30px;
  border: 0px solid black;
  padding: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer {
  background-color: #2a2a6f;
  overflow: hidden;
  bottom: 0;
  width: 100%;
  border-style: solid;
  border-width: 15px;
  border-color: #2a2a6f;
}
